%h2= conference.name
- if current_attendee
  - if current_attendee.registered_for?(conference)
    = link_to 'Unregister', registrations_path(conference_id: conference.id), method: :delete
  - else
    = link_to 'Register', registrations_path(conference_id: conference.id), method: :post

%h3 Attendees
%ul.attendees
  - conference.attendees.each do |a|
    %li= link_to image_tag(a.gravatar_url, size: "80x80", title: a.name), attendee_path(a)

- if current_attendee
  %h3 My Notes
  = semantic_form_for :notes, url: notes_path(conference_id: conference.id), method: :put do |f|
    = f.inputs do
      = f.input :text, as: :text, label: "", input_html: { value: conference.notes_for(current_attendee) }
      = f.submit